{
  "extends": ["plugin:@typescript-eslint/recommended", "airbnb-typescript/base", "prettier/@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "import/extensions": "off",
    "no-unused-vars": "off",
    "max-len": "off",
    "linebreak-style": "off"
  }
}
